.gradient{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(215,121,121,0.7366596296721813) 60%);

 }
  
  .dabba-2{
    background: rgb(179,116,116);
background: linear-gradient(200deg, rgba(179,116,116,0.5) 1%, rgba(201,101,101,0.7114495456385679) 27%, rgba(201,101,101,0.71) 64%, rgba(179,116,116,0.5) 100%);
   }
  
   .dabba-3{
    background: rgba(217,217,217,1);
    }